<div class="row" id="fila1-add">
	<div class="large-8 medium-12 columns">
    	<h3>Nuevo contacto</h3>
    	<form ng-controller="newContactController">
          <fieldset>
            <legend>Contacto</legend>
            <label>Nombre
              <input type="text" placeholder="Nombre" ng-model="nombreNuevoContacto">
            </label>
            <label>Teléfono
              <input type="number" placeholder="654235467" ng-model="telefonoNuevoContacto">
            </label>
            <label>Correo electrónico
              <input type="email" placeholder="someone@example.com" ng-model="emailNuevoContacto">
            </label>
            <label>
            	<button type="button" class="button" ng-click="addContact()">Enviar</button>
            </label>
          </fieldset>
        </form>
    </div>
</div>